@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&family=Yantramanav:wght@400;500;700&display=swap');

* {
    font-family: Roboto;
}

.main-container {
    background-color:#FFF3E0;
}

.nav-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: red 5px solid;
}

.logo-class {
    height: 100px;
    margin: 10px;
}

.logout-area {
    display: flex;
}